.p-home {
    .ant-layout-sider {
        background: #e7b6b6;
    }
    .ant-layout-header {
        background: #cfcfcf;
        padding-left: 10px!important;
    }
    .ant-layout {
        height: 100vh;
        transition: all 0.2s;
    }
}
